body{
    background: url('../img/rojo.jpg');
    /*para hacer que la imagen de fondo 100pre se muestre sin importar su tamaño*/
    background-attachment: fixed;
}
#logo {
    background: #CA3413;
}

#menu ul li:hover{
    background: #CA3413;
}

.button-more{
    background: #CA3413;
}
